<div class="container mt-3">
  <div class="header">
    <div class="icon-row">
      <div class="icon">
        <i class="fas fa-home"></i>
      </div>
      <div class="icon">
        <i class="fas fa-umbrella-beach"></i>
      </div>
      <div class="icon">
        <i class="fas fa-mountain"></i>
      </div>
      <div class="icon">
        <i class="fas fa-hiking"></i>
      </div>
      <div class="icon">
        <i class="fas fa-seedling"></i>
      </div>
      <div class="icon">
        <i class="fas fa-water"></i>
      </div>
      <div class="icon">
        <i class="fas fa-sun"></i>
      </div>
      <div class="icon">
        <i class="fas fa-snowflake"></i>
      </div>
      <div class="icon">
        <i class="fas fa-wind"></i>
      </div>
      <div class="icon">
        <i class="fas fa-tree"></i>
      </div>
      <div class="icon">
        <i class="fas fa-ship"></i>
      </div>
      <div class="icon">
        <i class="fas fa-biking"></i>
      </div>
      <div class="icon">
        <i class="fas fa-stairs"></i>
      </div>
      <div class="icon">
        <i class="fas fa-skiing"></i>
      </div>
      <div class="icon">
        <i class="fas fa-campground"></i>
      </div>
    </div>
  </div>



  <div class="flat-container">
    <% @flats.each_slice(5) do |slice| %>
      <div class="flat-row">
        <% slice.each do |flat| %>
          <div class="flat-card">
            <div class="card-img">
              <% if flat.picture_url.present? %>
                <%= image_tag flat.picture_url, class: "flat-image", alt: "Flat Image" %>
              <% else %>
                <div class="placeholder-image"></div>
              <% end %>
            </div>
            <div class="card-info">
              <h5 class="flat-name"><%= flat.name %></h5>
              <p class="flat-location"><%= flat.location %></p>
              <p class="flat-price"><strong>Price:</strong> <%= flat.price_per_night %></p>
              <div class="flat-actions">
                <%= link_to "More info", flat_path(flat), class: "btn btn-primary btn-sm" %>
                <%= link_to "Edit", edit_flat_path(flat), class: "btn btn-warning btn-sm" %>
                <%= link_to "Remove", flat_path(flat),
                    method: :delete,
                    data: { confirm: "Are you sure?" },
                    class: "btn btn-danger btn-sm",
                    "data-turbo-method": :delete,
                    "data-turbo-confirm": "Are you sure?"
                %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
